/**/node_modules/
/**/styles/
/dist/
/readme.md/
/.git/
/app/css/common-styles.min.css
/app/css/home-page.min.css
/app/fonts
/app/img/@1x
/app/img/@2x
/app/img/favicon
/app/js/scripts.min.js
/app/libs/bootstrap
/app/sass
/app/not-use-collection-page.html
/app/not-use-shop-all-collection-page.html

/**/_backstage
/**/package-lock.json
/**/Thumbs.db
/**/*.DS_Store
/**/debug.log
